/* bootstrap5 */
@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css');

body {
    background-color: #dbecf1;
  }

  .navbar {
    margin: 2rem 0 2.5rem 0;
  }

  .my-navbar {
    align-items: center;
    background: rgb(255, 255, 255);
    display: flex;
    height: 6rem;
    justify-content: space-between;
    padding: 0 2%;
    margin-bottom: 3rem;
    backdrop-filter: brightness(1.5);
  }

  .my-navbar-brand {
    font-size: 18px;
  }

  .my-navbar-brand,
  .my-navbar-item {
    color: #85d2e9;
  }

  .my-navbar-brand:hover,
  a.my-navbar-item:hover {
    color: #ffffff;
  }

  .table td:nth-child(2),
  .table td:nth-child(3),
  .table td:nth-child(4) {
    white-space: nowrap;
    width: 1px;
  }

  .form-control[disabled],
  .form-control[readonly] {
    background-color: #fff;
  }


  .titlelogo {
    width: 30%;
    height: auto;
  }
